.contact-heading {
    background-color: #fff;
    min-height: 600px;
    background-color: #fff;
    /* min-height: 650px; */
    display: block;
    margin-top: 65px;
    margin-left: 34.5rem;
    font-weight: bolder;
    color: #2c3e50;
  }
  
  .contactFrame {
    margin-top: -66rem;
    margin-left: 527px;
  }
  
  .form-container {
    width: 360px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
    margin-top: -29.5rem;
    margin-left: 31.5rem;
    /* border: 1px solid black; */
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  
  button {
    background: #4caf50;
    color: white;
    cursor: pointer;
  }
  